@font-face {
  font-Family: "Raleway";
  font-weight: 800;
  src: url("../2286597-device-36/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../2286597-device-36/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../2286597-device-36/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
}

.header-continer {
  margin: 0 auto;
  width: 1160px;
  background-color: #FFE17F;
  display:flex;
  flex-direction: column;
  margin-top: 40px;
}

.logo-header {
  margin-left: 60px;
  margin-top: -20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.navigation-form{
  display: flex;
  justify-content: space-between;
  width: 520px;
}

.search-input {
  width: 360px;
  height: 36px;
  padding: 0px 0px 0px 16px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  background-color: #FFE17F;
}

::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
}

.navigation-serch-input {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  margin-left: 0px;
  background-color: #FFE17F;
  padding: 0;
}

.search-span {
  font-size: 16px;
  line-height: 20px;
  width: 48px;
  height: 20px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.login {
  width: 231px;
  height: 40px;
}

.login-link {
  text-decoration: none;
  color: black;
  display: block;
  align-items: center;
  align-self: center;
}

.goods {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 30px;
}

.goods-link {
  text-decoration: none;
  color: black;
}

.goods-compare-item {
  width: 105px;
  height: 30px;
}

.goods-basket-item {
  width: 99px;
  height: 30px;
}

.servise {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 50px;
  margin: 0 auto;
}

.servis-button {
  width: 293px;
  height: 50px;
  border: 0px;
  background-color: #FFE17F;
  padding-left: 0px;
}

.servise-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.servise-list {
  display: flex;
  justify-content: space-between;
  width: 471px;
  height: 21px;
  list-style-type: none;
}

.servise-item {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.servise-link {
  text-decoration: none;
  color: black;
}

.main-container {
  margin: 0 auto;
  width: 1160px;
}

.slider-item {
  display: flex;
}

.information {
  width: 560px;
  height: 400px;
  display: grid;
}

.information p {
  margin: 0;
}

.slider-dl {
  display: flex;
}

.slider-h1 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 30px;

}

.slider-more-div {
  width: 220px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider-more {
  display: flex;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 220px;
  height: 40px;
  margin: 0 auto;
}

dt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

dd {
  margin: 0;
  height: 30px;
}

.slider-dtd-kv {
  margin-right: 20px;
}

.slider-dtd-kv:nth-child(2) {
  margin-right: 0;
}

.slider-dtd-sp {
  margin-right: 40px;
}

.slider-dtd-sp:nth-child(3) {
  margin-right: 0;
}

.category{
  width: inherit;
  height: 253px;
  margin: 0 auto;
}

.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.category-item {
  width: 160px;
  height: 253px;
}

.category-pic {
  background-image: url("../2286597-device-36/images.device/Rectangle\ 8.png");
}

.category-fg {
  margin: 0px;
}

.category-fgcap {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding-top: 32px;
}

.service-two-item {
  width: 1160px;
  height: 320px;
  display: flex;
}

.serv-info {
  width: 490px;
  height: 174px;
  margin-right: 106px;
}

.pic {
  width: 140px;
  height: 174px;
}

.speciall-offer {
  display: flex;
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.speciall-offer-h2 {
  width: 910px;
  height: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: auto;
  background-color: #F0F0F0;
}

.infom-company {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
  height: 493px;
}

.contacts {
  width: 532px;
  height: 545px;
}

.newsletter-div {
  width: 100%;
  height: 421px;
  background-color: #F0F0F0;
}

.newsletter {
  margin: 0 auto;
  width: 1160px;
  height: 300px;
}

.ns-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.ns-h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 350px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 0;
}

.newsletter-p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-top: 70px;
  margin-bottom: 0;
  width: 540px;
  height: 100px;
}

.newsletter-form {
  width: 810px;
  height: 57px;
  display: flex;
}

.filed {
  width: 557px;
  height: 57px;
  box-sizing: border-box;
  padding: 11px 447px 14px 16px;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
}

.newsletter-button {
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding: 0;
}

.newsletter-span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 0px;;
}

.ns-form-div {
  display: flex;
  justify-content: space-between;
  height: 57px;
  width: 1160px;
}

.ns-p-free {
  width: 160px;
  height: 30px;
  margin: 0;
  align-self: center;
}

footer {
  background-color: #444444;
  width: 100%;
  min-height: 321px;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.logo-footer {
}

.footer-address {
  width: 239px;
  height: 182px;
  margin-top: 138px;
  margin-bottom: 60px;
}

.address-f {
  text-decoration: none;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.servise-footer {
  width: 444px;
  min-height: 124px;
  margin-left: 119px;
  margin-top: 138px;
  margin-bottom: 60px;
}

.servise-messengers {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.servise-item {
  height: 56px;
}

.servise-footer-link {
  color: white;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  height: 56px;
}

.messsengers {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.tel-and-htmllogo {
  width: 175px;
  height: 116px;
  margin-left: 183px;
  margin-top: 138px;
  margin-bottom: 60px;
}

.phone-number {
  color: white;
}

.html-logo-link {
  margin-top: 62px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
