@font-face {
  font-Family: "Raleway";
  font-weight: 800;
  src: url("../2286597-device-36/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../2286597-device-36/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../2286597-device-36/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.header-continer {
  margin: 0 auto;
  width: 1160px;
  background-color: #FFE17F;
  display:flex;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 20px;
}

.logo-header {
  margin-left: 60px;
  margin-top: -20px;
}

.logo-header:hover {
  opacity: 0.75;
}

.logo-header:active {
  opacity: 0.5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.navigation-form{
  display: flex;
  justify-content: space-between;
  width: 520px;
}

.search-input {
  width: 360px;
  height: 36px;
  padding: 0px 0px 0px 16px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  background-color: #FFE17F;
}

.search-input:focus {
  border-radius: 50px 0 0 50px;
  border: 2px solid #af4fff;
}

::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
}

.navigation-serch-input {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0px 50px 50px 0px;
  margin-left: 0px;
  background-color: #FFE17F;
  padding: 0;
}

.navigation-serch-input:hover {
  background-color: #000000;
  color: white;
}

.navigation-serch-input:active {
  color: #444444;
}

.navigation-serch-input:disabled {
  color: #444444;
  border-color: #444444;
}

.search-span {
  font-size: 16px;
  line-height: 20px;
  width: 48px;
  height: 20px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.user-menu-item {
  margin-right: 26px;
}

.user-menu-item:last-child {
  margin-right: 0;
}

.user-menu-item:hover {
  color: #444444;
}

.login {
  display: flex;
  justify-content: space-between;
  min-width: 230px;
  height: 40px;
  margin-right: 26px;
}

.login-link:hover {
  opacity: 0.75;
}

.login-link:active {
  opacity: 0.5;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.login-link {
  position: relative;
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 27px;
}

.exit {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #F0F0F0;
}

.login-link .navigation-icon {
  right: auto;
  left: 0;
  margin: auto 0;
}

.goods-link {
  position: relative;
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.goods-link:hover {
  opacity: 0.75;
}

.goods-link:hover .popover {
  opacity: 1;
}

.goods-link:active {
  opacity: 0.5;
}

.goods-link:active .popover {
  opacity: 1;
}

.goods-link .navigation-icon {
  right: auto;
  left: 0;
  margin: auto 0;
}

.goods-compare-item {
  width: 105px;
  height: 40px;
}

.goods-basket-item {
  width: 110px;
  height: 40px;
}

.goods-basket-item:focus-within .popover {
  display: block;
}

.popover {
  position: absolute;
  top: 40px;
  right: -77px;
  z-index: 10;
  box-sizing: border-box;
  width: 320px;
  font-family: "Rubik";
  color: white;
  background-color: black;
  min-height: 180px;
  display: none;
}

.cart-items-list {
  margin: 0;
  padding: 0;
}

.cart-item {
  position: relative;
  display: flex;
  padding: 20px;
}

.cart-item-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-left: 23px;
}

.cart-item-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  background-color: black;
  cursor: pointer;
  z-index: 5;
}

.cart-item-button::before,
.cart-item-button::after {
  position: absolute;
  right: -1px;
  top: 4px;
  width: 13px;
  height: 1px;
  background-color: white;
  content: "";
}

.cart-item-button::before {
  transform: rotate(45deg);
}

.cart-item-button::after {
  transform: rotate(-45deg);
}

.cart-item:nth-child(3) {
  padding: 0;
  margin: 0;
  background-color: #444444;
  height: 44px;

}

.quanity {
  display: flex;
  align-items: center;
  text-align: start;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 10px;
  width: 120px;
}

.summ {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  justify-content: end;
  align-items: center;
  width: 150px;
}

.cart-button {
  height: 50px;
  width: 280px;
  border: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  background-color: white;
}

.cart-button:hover {
  background-color: #ffe17f;
}

.servise {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  height: 50px;
  margin: 0 auto;
}

.servis-button {
  position: relative;
  width: 293px;
  height: 50px;
  border: 0px;
  background-color: #FFE17F;
  padding-left: 0px;
  padding-right: 57px;
}



.servise-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalogplus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.servis-button .catalogplus {
  left: auto;
  right: 0;
  margin: auto 0;
}

.servise-list {
  display: flex;
  justify-content: space-between;
  width: 471px;
  height: 21px;
  list-style-type: none;
}

.servise-item {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.servise-item:hover {
  opacity: 0.75;
}

.servise-item:active {
  opacity: 0.5;
}

.servise-link {
  text-decoration: none;
  color: black;
}

.category-header-list {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 60px;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
  max-height: 120px;
  justify-content: stretch;
  display: flex;
}

.category-header-list li {
  margin-bottom: 5px;
  max-width: 250px;
}

.category-header-list li:last-child {
  margin-bottom: 0;
}

.category-header-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.main-container {
  margin: 0 auto;
  width: 1160px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
}

.slider-list li:not(:first-child) {
  display: none;
}

.slider-item {
  display: grid;
  grid-template-rows: 135px 425px;
  height: 560px;
  background-image: linear-gradient(#FFE17F 135px,white 135px 425px);
}

.info-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.information {
  height: 400px;
  width: 560px;
}

.div-ser-number {
  display: block;
  position: relative;
  height:135px;
}

.serial-number {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: white;
  display: block;
  margin: 0;
  height:135px;
  position: absolute;
  right: 60px;
  bottom: -58px
}

.information {
  position: absolute;
  top: -28px;
  right: 0;
}

.information p {
  margin: 0;
}

.slider-pic {
  margin-top: -150px;
}

.slider-dl {
  display: flex;
}

.slider-h1 {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 30px;

}

.slider-more-div {
  position: relative;
  width: 220px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 10;
}

.slider-more {
  display: block;
  position: absolute;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  height: 40px;
  width:220px;
  padding: 10px 0 10px 0;
  z-index: 100;

}

.slider-more::before {
  height: 8px;
  width: 220px;
  position: absolute;
  top: 16px;
  left: 0;
  background-color: #ffe17f;
  content: "";
  z-index: 2;
}

dt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

dd {
  margin: 0;
  height: 30px;
}

.slider-dtd-kv {
  margin-right: 20px;
}

.slider-dtd-kv:nth-child(2) {
  margin-right: 0;
}

.slider-dtd-sp {
  margin-right: 40px;
}

.slider-dtd-sp:nth-child(3) {
  margin-right: 0;
}

.slider-buttons {
  position: absolute;
  top: 211px;
  display: flex;
  width: 530px;
  justify-content: space-between;
  margin-left: 30px;
}

.slider-button {
  position: relative;
  display: flex;
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: white;
  border: none;
  cursor: pointer;
  background-position: center;
}

.slider-button .slider-button-svg {
  right: auto;
  left: 0;
  margin: auto 0;
}

.slider-button-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.slider-button-svg:hover {
  opacity: 0.6;
}

.slider-button-svg:active {
  opacity: 0.4;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button-svg:hover {
  color: #814b18;
}

.slider-button-svg:focus {
  color: #4e2e0e;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  width: 1140px;
  height: 12px;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  justify-content: center;
}

.slider-pagination-item {
  margin: 0 20px;
}

.slider-pagination-button {
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 2px solid #000000;;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.4;
}

.category{
  width: inherit;
  height: 253px;
  margin: 0 auto;
}

.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.category-item {
  width: 160px;
  height: 253px;
}

.category-item:hover .category-pic {
  background-color: #ffc700;
}

.category-item:active {
  opacity: 0.4;
}

.category-item a {
  text-decoration: none;
  color: #000000;
}

.category-pic {
  background-image: url("../2286597-device-36/images.device/Rectangle\ 8.png");
  background-color: #FFE17F;
}

.category-fg {
  margin: 0px;
}

.category-fgcap {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding-top: 32px;
}

.service-two-item {
  width: 1160px;
  height: 320px;
  display: flex;
}

.serv-info {
  width: 490px;
  height: 174px;
  margin-right: 106px;
}

.pic {
  width: 140px;
  height: 174px;
}

.speciall-offer {
  display: flex;
  background-color: #F0F0F0;
  margin-bottom: 70px;
}


.speciall-offer-link {
  text-decoration: none;
  display: flex;
  vertical-align: middle;
}

.speciall-offer-link:focus-within .modal-container {
  display: flex;
}

.speciall-offer-h2 {
  width: 910px;
  height: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 40px;
  margin: auto;
  background-color: #F0F0F0;
}

.infom-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  position: relative;
  width: 520px;

}

.about-us::before {
  display:block;
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: black;
  content: "";
  margin-bottom: 40px;
}

.infom-company-hone {
  display: block;
  margin: 0;
  margin-top:47px;
  margin-bottom: 48px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.infom-company p {
  margin: 0;
  margin-bottom: 30px;
}

.mail-list {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

.more-about-us {
  display: block;
  box-sizing: border-box;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  height: 40px;
  width: 270px;
  padding: 10px 0 10px 0;
}


.write-us {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  height: 40px;
  width: 260px;
  text-align: center;
  padding: 10px 0 10px 0;
}


.address-wr {
  font-style: normal;
}

.contacts {
  width: 532px;
  height: 545px;
  position: relative;
}

.contacts::before {
  display:block;
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: black;
  content: "";
  margin-bottom: 40px;
}

.newsletter-div {
  width: 100%;
  height: 421px;
  background-color: #F0F0F0;
}

.newsletter {
  margin: 0 auto;
  width: 1160px;
  height: 300px;
}

.ns-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.ns-h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 350px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 0;
}

.newsletter-p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-top: 70px;
  margin-bottom: 0;
  width: 540px;
  height: 100px;
}

.newsletter-form {
  width: 810px;
  height: 57px;
  display: flex;
}

.filed {
  width: 557px;
  height: 57px;
  box-sizing: border-box;
  padding: 11px 447px 14px 16px;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
}

.newsletter-button {
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding: 0;
}

.newsletter-span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 0px;;
}

.ns-form-div {
  display: flex;
  justify-content: space-between;
  height: 57px;
  width: 1160px;
}

.free {
  position: relative;
  width: 160px;
  height: 30px;
  padding-left: 32px;
  margin: auto 0;
}

.free .check-mark {
  right: auto;
  left: 0;
  margin: auto 0;
}

.ns-p-free {
  width: 160px;
  height: 30px;
  margin: 0;
  align-self: center;
}

.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #08AF00;
}

footer {
  background-color: #444444;
  width: 100%;
  min-height: 321px;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-address {
  width: 239px;
  height: 182px;
  margin-top: 62px;
  margin-bottom: 60px;
  position: relative;
}

.logo-header-link {
  display: block;
  height: 35px;
  width: 145px;
  margin-bottom: 35px;
}

.footer-address::after {
  display:block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

.address-f {
  text-decoration: none;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-style: normal;
}

.servise-footer {
  width: 444px;
  min-height: 124px;
  margin-left: 119px;
  margin-top: 138px;
  margin-bottom: 60px;
}

.servise-messengers {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.servise-item {
  height: 56px;
}

.servise-footer-link {
  color: white;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  height: 56px;
}

.messsengers {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  height: 40px;
  padding: 0;
  margin: 0;
  margin-left: 147px;
}

.messengers-item {
  width: 40px;
  margin-right: 15px;
}

.messengers-item:last-child {
  margin-right: 0;
}

.messengers-link {
  position: relative;
}

.messenger-icon {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  color: #C4C4C4;
}

.messengers-link .messenger-icon{
  right: auto;
  left: 0;
  margin: auto 0;
}

.tel-and-htmllogo {
  width: 175px;
  height: 116px;
  margin-left: 183px;
  margin-top: 138px;
  margin-bottom: 60px;
}

.phone-number {
  color: white;
}

.html-logo-link {
  display: block;
  position: relative;
  margin-top: 57px;
  height: 33px;
}

.html-logo-link .html-logo-linkf{
  right: auto;
  left: 0;
  margin: auto 0;
}

.html-logo-linkf {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #FFC700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  display: flex;
  visibility: hidden;.
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
}

.modal-auth {
  width: 920px;
  box-sizing: border-box;
  display: grid;
  gap: 42px;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);


}

.modal-start-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.modal-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.modal-close-button {
  position: relative;
  display: flex;
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: white;
}

.modal-close-button .close-svg {
  right: 0;
  left: auto;
  margin: auto 0;
}

.close-svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.personal-info-modal {
  display: flex;
  justify-content: space-between;
  height: 94px;
}

.field-group {
  display: grid;
  gap: 14px;
  padding: 0;
  margin: 0;
}

.auth-form-field {
  width: 360px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 0;
}

.auth-form-field-2 {
  width: 540px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 0;
}

.auth-form-field-3 {
  width: 180px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 0;
}

.modal-label-fg {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-product {
  display: flex;
  justify-content: space-between;
}

.button-send {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  color: #000000;
  padding: 0;
  width: 200px;
}

.bread {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-container {
  width: 100%;
  background-color: #F0F0F0;
}

.another-category {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 60px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-item .breadcrumbs-arrow {
  right: -18px;
  left: auto;
  margin: auto 0;
  color: #ebebeb;
}

.breadcrumbs-arrow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.catalog-right-column {
  width: 840px;
  background-color: white;
}

.catalog-filter {
  width: 320px;
  margin-left: 60px;
  MARGIN-RIGHT: 60px;
}

.filter-h2 {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  border: 0;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: black;
  left: 0;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background: #000000;
  border: 2px solid #000000;
}

.range-toggle:focus {
  border: 2px solid #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;

}

.catalog-filter-label {
  display: flex;
  margin-right: 75px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
}

.catalog-filter-label:last-child {
  margin-right: 0;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  background-color: transparent;
  border: none;
  appearance: textfield;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked {
  border:  black;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}


.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}

.control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-show {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
  border: 0;
  color: #000000;
  padding: 0;
}

.selection {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  background-color: #F0F0F0;
}

.selection-htwo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

}

.celect-control {
  background-color: #F0F0F0;
  border: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.buttons-up-down {
  display: flex;
  width: 60px;
  height: 30px;
}

.button-up-down {
  position: relative;
  width: 30px;
  height: 30px;
}

.botton-up-down .up-down-svg {
  right: auto;
  left: 0;
  margin: auto 0;
}

.up-down-svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: tomato;
}

.product-cards {
  background-color: white;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  list-style-type: none;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 44px;
}

.product-item {
  display: flex;
  flex-direction: column;

}

.product-card-link {
  text-decoration: none;
}

.product-description {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  flex-grow: 1;
  padding-top: 32px;
}

.product-card-image {
  background-color: #F0F0F0;
}

.product-card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.load-more {
  width: 760px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  height: 55px;
  border: 3px solid #E5E5E5;
}

.load-more:hover {
  border-color: #000000;
}

.load-more:active {
  border-color: #dcdcdc;
}

.button-load-more {
  display: flex;
  align-self: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border: 0;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 18px;
  padding: 0;
  cursor: pointer;
}

.button-load-more:active {
  color: #dcdcdc;
}

.pagination {
  background-color: white;
  height: 70px;
  padding-top: 44px;
  padding-bottom: 78px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  width: 760px;
  margin: 0 auto;
  padding: 0;
  background-color: #F0F0F0;
}

.pagination-prev {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-item {
  width: 40px;
  margin: 15.5px 0;
}

.back-item {
  margin-right: 145.5px;
  padding: 25px;
}

.forward-item {
  margin-left: 145.5px;
  padding: 25px;
}

.pagination-disabled {
  background-color: #F0F0F0;
}

.pagination-link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-next {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
